<!DOCTYPE html>
<html>
  <head>
    <title>AwesomeLog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <% if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path %>
    <% else %>
      <%= link_to "Sign in with Twitter", user_twitter_omniauth_authorize_path %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
